@font-face {
  font-family: 'proxima_novalight';
  src: url('./Mark Simonson - Proxima Nova Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'proxima_novamedium';
  src: url('./Mark Simonson - Proxima Nova Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'proxima_novasemibold';
  src: url('./Mark Simonson - Proxima Nova Semibold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'proxima_novaregular';
  src: url('./Mark Simonson - Proxima Nova.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* Inter font family */
@font-face {
  font-family: 'inter_light';
  src: url('./Inter-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'inter_regular';
  src: url('./RingCentralDisplay-Medium.otf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'inter_medium';
  src: url('./Inter-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'inter_semibold';
  src: url('./RingCentralSans-Regular.otf') format('opentype');
  font-weight: 500; 
  font-style: normal; 
  font-display: swap;
}

@font-face {
  font-family: 'inter_bold';
  src: url('./RingCentralDisplay-Medium.otf') format('opentype');
  font-weight: 700;
  font-style: normal; 
  font-display: swap;
}
